---
import Box from "@components/Box.astro";
import Hero from "@components/Hero.astro";
import Grid from "@components/layout/Grid.astro";
import Overlay from "@components/Overlay.astro";
import Layout from "@layouts/Layout.astro";
import { pages } from "@utils/pageData";

const subPages = pages.filter((page) => page.label !== "Home");

// TODO add Timeline(Entry) components to experience and education pages
// TODO animate timeline entries sliding in on scroll when they get into view (https://www.youtube.com/watch?v=Vcv01Czsq2Y)
---

<Layout title="Welcome! 🍻">
  <Hero />
  <br />
  <Grid>
   {subPages.map(({ key, href, label, color = '', bannerImage = '', bannerImagePosition = '' }) => (
      <a href={href} class="tile reveal" data-id={key} id={`tile-${key}`}>
        <Overlay title={label} dimmed dimAmount={0.45} lightOnHover>
          <Box
            width="100%"
            aspectRatio={1}
            image={bannerImage}
            backgroundPosition={bannerImagePosition}
            textColor="white"
            color={color}
            loading="eager"
          />
        </Overlay>
      </a>
    ))}
  </Grid>
</Layout>

<style>
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;
    padding: 1rem;
    text-align: center;
    background-color: #eee;
  }

  a::after {
    display: none;
  }
</style>