---
import Box from "@components/Box.astro";
import Hero from "@components/Hero.astro";
import Grid from "@components/layout/Grid.astro";
import Overlay from "@components/Overlay.astro";
import Tile from "@components/Tile.astro";
import Layout from "@layouts/Layout.astro";
import { pages } from "@utils/pageData";

const subPages = pages.filter((page) => page.key !== "home");
---

<Layout title="Welcome! 🍻">
  <Hero />
  <br />
  <Grid>
   {subPages.map(({ key, href, title, color = '', bannerImage = '', bannerImagePosition = '' }) => (
      <a href={href} class="reveal">
        <Tile key={key}>
          <Overlay title={title} dimmed dimAmount={0.45} lightOnHover>
            <Box
              width="100%"
              aspectRatio={1}
              image={bannerImage}
              backgroundPosition={bannerImagePosition}
              textColor="white"
              color={color}
              loading="eager"
            />
          </Overlay>
        </Tile>
      </a>
    ))}
  </Grid>
</Layout>

<style>
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;
    padding: 1rem;
    text-align: center;
    background-color: #eee;
  }

  a::after {
    display: none;
  }
</style>